<%= form_with(model: persona, local: true) do |form| %>
  <% if persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :persona_nombre, required: true %>
  </div>

  <div class="field">
    <%= form.label :apellido_paterno %>
    <%= form.text_field :apellido_paterno, id: :persona_apellido_paterno, required: true %>
  </div>

  <div class="field">
    <%= form.label :apellido_materno %>
    <%= form.text_field :apellido_materno, id: :persona_apellido_materno, required: true %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= select(:persona, :sexo, [['Femenino', 0], ['Masculino', 1]]) %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.number_field :dni, id: :persona_dni, required: true %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :persona_correo, required: true %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento, id: :persona_fecha_nacimiento, start_year: 1970, end_year: 2010 %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :persona_celular, required: true %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :persona_direccion, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar Datos' %>
  </div>
<% end %>
